@import url('https://Luatr.github.io/VL4D_core.css');

.content:before /*основа, неактивный*/ {
background: url() no-repeat center / contain;
z-index: 2;
}

.content:hover:before /*правый блок*/ {
background: url() no-repeat center / contain;
}

.left-menu:hover:before /*левый блок*/ {
background: url() no-repeat center / contain;
}

.comment-box+.textareabg:hover:before /*написать коммент*/ {
background: url() no-repeat center / contain;
}

[href="/design/disable"]:hover:before /*отключить дизайн*/ {
background: url() no-repeat center / contain;
}

div#footer:before{
z-index: 3;
}

div#footer:hover:before /*на себя*/ {
background: url() no-repeat center / contain;
}

.likebutton:hover:before /*лайк*/ {
background: url() no-repeat center / contain;
}

span.repostbutton:hover:before,
span.bookmarkbutton:hover:before,span.fast-quote:hover:before /*репост,закладки,ответить*/ {
background: url() no-repeat center / contain;
}

[data-target="#deleteconfirmmodal"]:hover:before /*удалить*/ {
background: url() no-repeat center / contain;
}

a.navbar-brand:hover:before /*на главную*/ {
background: url() no-repeat center / contain;
}

div#beon-fnplayer:hover:before /*плеер*/ {
background: url() no-repeat center / contain;
}

.pagination:hover:before /*страницы*/ {
background: url() no-repeat center / contain;
}



/*udp фиксы для совместимости с другимим дизами*/

.left-menu, .post-text, .comment-content {
    backdrop-filter: unset;
}


div#footer {
    font-size: 0px !important;
    mix-blend-mode: unset !important;
}

.crumbs * {
    mix-blend-mode: unset;
}
div#beon-fnplayer {
    mix-blend-mode: unset;
}
