.content:before,.left-menu:hover:before,
.comment-box+.textareabg:hover:before,
[href="/design/disable"]:hover:before,
.likebutton:hover:before,span.repostbutton:hover:before,
span.bookmarkbutton:hover:before,[data-target="#deleteconfirmmodal"]:hover:before,
span.fast-quote:hover:before,a.navbar-brand:hover:before,
div#beon-fnplayer:hover:before,div#footer:before {
    content: 'владик';
    font-size: 0;
    display: block;
    background: url() no-repeat center / contain;
    width: 220px;
    height: 220px;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: 0.2s;
}


.comment-box+.textareabg:before,
[href="/design/disable"]:before,
.likebutton:before,span.repostbutton:before,
span.bookmarkbutton:before,[data-target="#deleteconfirmmodal"]:before,
span.fast-quote:before,a.navbar-brand:before,
div#beon-fnplayer:before,div#footer:before,.pagination:hover:before {
    content: 'владик2';
    font-size: 0;
    display: block;
    background: url(https://i.ibb.co/gzVjzZk/no.png) no-repeat center / contain;
    width: 220px;
    height: 220px;
    position: fixed;
    left: 0;
    bottom: 0;
    transition: 0,2s;
}



@media (max-width: 700px) {

.content::before,.left-menu:hover::before,
.comment-box + .textareabg:hover::before,
[href="/design/disable"]:hover::before,
.likebutton:hover::before,
span.repostbutton:hover::before,
span.bookmarkbutton:hover::before,
[data-target="#deleteconfirmmodal"]:hover::before,
span.fast-quote:hover::before,
a.navbar-brand:hover::before,
div#beon-fnplayer:hover::before,
div#footer::before {
    width: 120px;
    height: 120px;
    right: 0;
    left: unset;
}

.comment-box+.textareabg:before,
[href="/design/disable"]:before,
.likebutton:before,span.repostbutton:before,
span.bookmarkbutton:before,[data-target="#deleteconfirmmodal"]:before,
span.fast-quote:before,a.navbar-brand:before,
div#beon-fnplayer:before,div#footer:before {
    width: 120px;
    height: 120px;
    right: 0;
    left: unset;
}
    
}

.content:before {
    background: url(https://i.ibb.co/518kq3B/1.png) no-repeat center / contain;
}

.content:hover:before {
    background: url(https://i.ibb.co/VJ91Jrw/2.png) no-repeat center / contain;
}


.left-menu:hover:before {
    background: url(https://i.ibb.co/Pw0tXbJ/3.png) no-repeat center / contain;
    z-index: 1;
}

.comment-box+.textareabg:hover:before {
    background: url(https://i.ibb.co/WGxgPJJ/4.png) no-repeat center / contain;
}

[href="/design/disable"]:hover:before {
    background: url(https://i.ibb.co/Ntw1Y60/5.png) no-repeat center / contain;
    z-index: 1;
}

div#footer:before {
    z-index: 3;
}


div#footer:hover:before {
    background: url(https://i.ibb.co/fYjrg0z/6.png) no-repeat center / contain;
}

.likebutton:hover:before {
    background: url(https://i.ibb.co/gt1gwW2/7.png) no-repeat center / contain;
}

span.repostbutton:hover:before,
span.bookmarkbutton:hover:before,span.fast-quote:hover:before {
    background: url(https://i.ibb.co/fQ8Dssh/8.png) no-repeat center / contain;
}

[data-target="#deleteconfirmmodal"]:hover:before {
    background: url(https://i.ibb.co/hCK5hHx/9.png) no-repeat center / contain;
}

a.navbar-brand:hover:before {
    background: url(https://i.ibb.co/cK5pGW3/10.png) no-repeat center / contain;
    z-index: 3;
}

div#beon-fnplayer:hover:before {
    background: url(https://i.ibb.co/sFzJkbZ/11.png) no-repeat center / contain;
    z-index: 3;
}

.pagination:hover:before {
    background: url(https://i.ibb.co/Hh8N2Mk/12.png) no-repeat center / contain;
    z-index: 3;
}



/*udp фиксы для совместимости с другимим дизами*/

.left-menu, .post-text, .comment-content {
    backdrop-filter: unset;
}


div#footer {
    font-size: 0px !important;
    mix-blend-mode: unset !important;
}

/*конкретно с омори дизом, там где задействован бленд*/
.crumbs *,div#beon-fnplayer,a.navbar-brand {
    mix-blend-mode: unset;
}
